body {
    width: 33%;
}

#res {
    background-color: lightgray;
    border: solid;
    height: 48px;
    font-size: 20px;
}

#btns button{
    width: 25%;
    height: 36px;
    font-size: 18px;
    margin: 0px;
    float: left;
}

.btnoperator {
    background-color: black;
    color: red;
}
.btnce {
   background-color: darkgreen;
    color: white; 
}
.btnoperand {
    background-color: lightgreen;
    color: brown;
}